.accounts, .expense-income-container{
  margin: 2rem;
  display: flex;
  justify-content: space-around;

}

.expense-income-container{
  width: 70%;
}

.navbar{
  background-color: lightblue;
}

.add-transaction-form{
  padding: 2rem;
  margin-top: 15vh;
  margin-left: 30vw;
  margin-right: 30vw;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 2rem;
}

